{% extends 'AppBundle::moocsy-front.html.twig' %}

{% block barbara_front %}

<div class="col-lg-12" id="moocsy-content">
    {% include 'AppBundle::includes/navbar.html.twig' %}


    <div class="col-lg-4" id="nav-item">
        <ul class="list-group">
          <a href="{{ path('moocsy_front_course', { course: module.courses.slug }) }}" class="list-group-item btn-course">{{ module.courses.course }}</a>
        </ul>
        <ul class="list-group">

            {% for i in module.items %}
                <a href="{{ path(i.aliasRouteType , { course: course.slug, module: module.slug, item: i.slug}) }}" class="list-group-item {% if item.id == i.id %} active {% endif %}">{{ i.item }} {{ i.description }}</a>
            {% endfor %}
        </ul>
    </div>

    <div class="col-lg-8">
        {% block moocsy_items %}{% endblock %}
    </div>
</div>






{% endblock %}
