<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Barbara Castro | Elearning</title>
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    <link rel="stylesheet" href="{{ asset('bower/bootstrap/dist/css/bootstrap.min.css') }}" media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" href="{{ asset("barbaracastro/app.css") }}">
  </head>
  <body>
      <div id="moocsy">
        {% block barbara_front %}{% endblock %}
      </div>

    <script src="{{ asset('bower/jquery/dist/jquery.min.js') }}" charset="utf-8"></script>
    <script src="{{ asset('bower/bootstrap/dist/js/bootstrap.min.js') }}" charset="utf-8"></script>

    {% block artesanus_js %}{% endblock %}
  </body>
</html>
