{% extends "ArtesanusBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}


<img id="logo-security" src="{{ asset('img/logo-security.png') }}" alt="" />

<div class="page-header">
    <strong>Login</strong>
</div>
{% if error %}
    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}

<form action="{{ path("fos_user_security_check") }}" method="post">
    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
    <div class="form-group">
        <label for="username">Usuario</label>
        <input class="form-control" type="text" id="username" name="_username" value="{{ last_username }}" required="required" />
    </div>
    <div class="form-group">
        <label for="password">Password | Contraseña</label>
        <input class="form-control" type="password" id="password" name="_password" required="required" />
    </div>
    <div class="form-group">
        <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
        <label for="remember_me">Recordarme</label>
  </div>
    <input class="btn btn-default" type="submit" id="_submit" name="_submit" value="Entrar" />
</form>

<link rel="stylesheet" href="{{ asset('barbaracastro/app.css') }}" media="screen" title="no title" charset="utf-8">

<style media="screen">
    body{
        background: #ef552b;
        color: white;
    }
    #wrap-artesanus-security{
        margin-top: 7em;
    }

    #logo-security{
        width: 100%;
        float: left;
        position: relative;
    }

    #logo-security img{
        width: 100%;
    }
</style>

{% endblock fos_user_content %}
