<li role="presentation" class="{% if app.request.attributes.get('_route') == 'moocsy_front_home' %} active {% endif %}"><a href="{{ path('moocsy_front_home') }}">Inicio</a></li>
<li role="presentation" class="{% if app.request.attributes.get('_route') == 'artesanus_profile' %} active {% endif %}"><a href="{{ path('artesanus_profile') }}">Perfil</a></li>
<li role="presentation" class="{% if app.request.attributes.get('_route') == 'moocsy_front_courses' %} active {% endif %}"><a href="{{ path('moocsy_front_courses') }}">Programas</a></li>
<li role="presentation" class="{% if app.request.attributes.get('_route') == 'moocsy_front_users_notifications' %} active {% endif %}"><a href="{{ path('moocsy_front_users_notifications') }}">Notificaciones</a></li>
<li role="presentation" class="{% if app.request.attributes.get('_route') == 'moocsy_front_notifications' %} active {% endif %}"><a href="{{ path('moocsy_front_notifications') }}">Asistencia</a></li>
<li role="presentation"><a href="{{ path('fos_user_security_logout') }}">Cerrar sesión</a></li>
