{% extends 'AppBundle::home-front.html.twig' %}

{% block title_section %}

{{ course.courses.course }}

{% endblock %}

{% block moocsy %}




<div class="page-header">
    <h2>{{ course.courses.course }}</h2>
    <small>{{ course.courses.description }}</small>
</div>

{% if modules_released|length == '' %}

    <div class="alert alert-warning">
        <strong>
            El curso inicia hasta {{ course.courses.published|date('d-M-Y') }}
        </strong>
    </div>

{% endif %}



<div id="warp-program">
    <ul>
        {% for module in course.courses.modules %}
            {% if module.id in modules_released|keys %}
                <li class="active">{{ module.module }}</li>
            {% else %}
                <li>Día 2</li>
            {% endif %}
        {% endfor %}
    </ul>
</div>








{% endblock %}
