{% extends 'AppBundle::home-front-landscape.html.twig' %}

{% block title_section %}

{{ course.courses.course }}

{% endblock %}

{% block moocsy %}

{% if modules_released|length == '' %}

    <div class="alert alert-warning">
        <strong>
            El curso inicia hasta {{ course.courses.published|date('d-M-Y') }}
        </strong>
    </div>

{% endif %}

<p class="lead text-center">
    {{ course.courses.header }}
</p>
<div class="page-header">
    <h1>{{ course.courses.title }}</h1>
    <p class="lead">
        {{ course.courses.description }}
    </p>
</div>

<div id="warp-program">
    <ul class="list-group">
        {% for module in course.courses.modules %}

            {% set item = module.items|first %}

            {% if module.id in modules_released|keys %}
                {% if item != '' %}
                    <a href="{{ path(item.aliasRouteType|default('') , { course: course.courses.slug, module: module.slug, item: item.slug }) }}" class="list-group-item active">{{ module.module }}</a>
                {% else %}
                    <a class="list-group-item active">{{ module.module }}</a>
                {% endif %}
            {% else %}
                <a class="list-group-item">{{ module.module }}</a>
            {% endif %}
        {% endfor %}
    </ul>
</div>








{% endblock %}
