{% extends 'MoocsyBundle::moocsy_admin.html.twig' %}


{% block artesanus_section_subtitle %} Cursos {% endblock %}

{% block artesanus_section_body %}

    <div class="col-lg-4">
        <ul class="list-group">
            <li class="list-group-item">Name: {{ course_user.users.name|default(course_user.users.username) }}</li>
            <li class="list-group-item">Email: {{ course_user.users.email|default('') }}</li>
            <li class="list-group-item">Last Login: {{ course_user.users.lastLogin|date('d-m-Y') }}</li>
            <li class="list-group-item">Registered: {{ course_user.registered|date('d-m-Y') }}</li>
            <li class="list-group-item">Certificate Freedom: {{ course_user.certificateFreedom|date('d-m-Y') }}</li>
            <li class="list-group-item">Certificated: {{ course_user.certified|date('d-m-Y')|default('') }}</li>
        </ul>
    </div>

    <div class="col-lg-8">
        <div class="panel panel-default">
            <div class="panel-body">
                <ul id="myTabs" class="nav nav-tabs" role="tablist">
                  <li role="presentation" class="active"><a href="#home" id="home-tab" role="tab" data-toggle="tab" aria-controls="home" aria-expanded="true">Daily</a></li>
                  <li role="presentation"><a href="#profile" role="tab" id="profile-tab" data-toggle="tab" aria-controls="profile">Notifications</a></li>

                </ul>
                <div id="myTabContent" class="tab-content">
                    <div role="tabpanel" class="tab-pane fade in active" id="home" aria-labelledby="home-tab">
                        <hr>
                        <ul class="list-group">
                            {% for question in daily %}

                                <li class="list-group-item">
                                    <strong>{{ question.created|date('d-m-Y') }}</strong> |
                                    <strong>{{ question.quizs.quiz }}</strong> |
                                    <strong>{{ question.questions.question }}</strong>
                                    <hr>
                                    {{ question.value }}
                                </li>
                            {% endfor %}

                        </ul>
                    </div>
                    <div role="tabpanel" class="tab-pane fade" id="profile" aria-labelledby="profile-tab">
                        <form class="" action="" method="post">
                            {{ form_widget(user_notifications_form) }}
                            <button type="submit" class="btn btn-default">
                                Guardar
                            </button>
                        </form>
                        <hr>
                        <ul class="list-group">
                            {% for notification in notifications %}
                                <li class="list-group-item">
                                    <strong>{{ notification.created|date('d-m-Y') }}</strong>
                                        {{ notification.creator.name|default(notification.creator.username) }}
                                    <hr>
                                    {{ notification.notifications }}
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </div>
{% endblock %}
